/*
    Jonathon Hayden
    Styles page for all webforms.
*/
h1
{
   background-color:blue;
   color:white;
   text-align:center;
}

body {
    background-color: beige;
    font-family: 'Courier New';
}
.logo img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    text-align: center;
}

.login 
{
    display: block;
    margin-right:100px;
    
    width:200px;
    
    float:right;
}

.loginLabel {
    display: block;
    margin-right: 310px;
    width: 200px;
    text-align: left;
    float: right;
}


.newAccount {
    margin-left: 100px;
}

.issueDescription {
    margin-left: 100px;
    width:300px;
    height:100px;
}

.alterTicket {
    display: block;
    margin-right: 100px;
    float: right;
}

.alterTicketButtons {
    display: block;
    margin-right: 60px;
    float: right;
}

.issueReturnDescription {
    display: block;
    margin-right: 40px;
    width: 300px;
    height: 100px;
    float: right;
}

.lblReturnDescription {
    display: block;
    margin-right: 10px;
    float: right;
}

.alterTicketLabels {
    display: block;
    margin-right: 30px;
    float: right;
}

.lblTicketStatus {
    display: block;
    margin-left: 1550px;
    float: left;
}

.lblChangeTicketStatus {
    display: block;
    margin-left: 1550px;
    float: left;
}

.lblSelectTicket {
    display: block;
    margin-left: 1550px;
    float: left;
}

.lblReturnTicketType {
    display: block;
    margin-left: 1550px;
    float: left;
}
.headerTicketDetailsTech {
    display: block;
    margin-left: 1300px;
    float: left;
}

.headerTicketDetailsAdmin {
    display: block;
    margin-left: 1550px;
    float: left;
}

.headerTicketDetailsCustomer {
    display: block;
    margin-left: 1300px;
    float: left;
}

.lblLastModified {
    display: block;
    margin-left: 1550px;
    float: left;
}


.issueReturnSolution {
    display: block;
    margin-right: 100px;
    width: 300px;
    height: 100px;
    float: right;
}
.lblError
{
    display:block;
    margin-right:100px;
    float:left;
}